body{
    font-family: "Arial";
}

th, td {
  border-bottom: 1px solid;
  border-color: lightgray;
}

.centered {
    text-align: center;
}

.left_aligned {
    text-align: left;
}

.blue_background {
    background-color: lightblue;
}

.hover:hover {
    fill: pink;
}

.border:hover {
    stroke: pink;
    stroke-width: 4;
}

.flexbox {
    display: flex;
    flex-direction: row;
    color: darkgreen;
    text-align: center;
}

.flex_column {
    flex: 1;
    flex-basis: 0;
    width: 50%;
}

div {
justify-content: space-evenly;
}

