body{
    font-family: "Arial";
}

th, td {
  border-bottom: 1px solid;
  border-color: lightgray;
}

.centered {
    text-align: center;
}

.left_aligned {
    text-align: left;
}

.blue_background {
    background-color: lightblue;
}

.hover:hover {
    fill: pink;
}

.border:hover {
    stroke: pink;
}

#desc1 {
    color: darkslateblue;
}

#desc2 {
    color: darkslateblue;
}

#circle1 {
    cx: 20;
    cy: 11;
    r: 10
}
