body{
    font-family: "Arial";
}

th, td {
  border-bottom: 1px solid;
  border-color: lightgray;
}

.centered {
    text-align: center;
}

.left_aligned {
    text-align: left;
}

.blue_background {
    background-color: lightblue;
}

#desc1 {
    color: darkslateblue;
}

#desc2 {
    color: darkslateblue;
}

